body{
    background-image: url(b.jpg);
    height: auto;
    width: auto;
}
.std{
    background-color: red;
    margin: 0%;
    padding:10px;
    overflow: hidden;
    background-color: #333333;
    box-shadow: 10px 10px 10px ;
    
}
.brand{ 
    color: white;
    margin-left: 30px;
    display: inline-block;
    text-align: center;
    margin-top: 5px;
    font-size: 30px;
        padding: 0px 20px;
}
.menu{
    display:inline-block;
    float:right;
    color: rgb(253, 253, 253);
    text-align: center;
    padding: 14px 16px;
    font-size: 18px;
    

}
.crauser{
    margin: 40px;
     text-align:center;
    
    height: 600px;
    max-width: 1400px;
    overflow: hidden;
    box-shadow:20px 10px 15px lightslategray;
}

    
.container{
    height: 300px;
  
}
.row{
    
}
.col-l{
    border: 1px solid red;
    height: 250px;
    width: 400px;
    display: inline-block;
    margin-left: 35px;
    margin-top: 25px;
    box-shadow: 20px 20px 10px lightcoral ;
    background-color: red;
    
}
.col-ll{
    border: 1px solid red;
    height: 250px;
    width: 400px;
    display:inline-block;
    margin-left: 100px;
    margin-top: 25px;
    box-shadow: 20px 20px 10px lightcoral;
    background-color: red;

}
.col-lll{
    border: 1px solid red;
    height: 250px;
    width: 400px;
    display: inline-block;
    margin-left: 100px;
    margin-top: 25px;
    box-shadow: 20px 20px 10px lightcoral;
    background-color: red;
}
.head{
   
    list-style-type: none;
   
    display: inline;
    
    color: white;
    font-size: 30px;
    box-shadow: 10px 10px 10px ;
    
   
    
    
}
.detail{
    list-style-type: none;
    text-align: center;
    margin-top: 20px;
    color: white;
    box-shadow: 10px 10px 10px ;
    font-size: 20px;
    
}
.form{
    height: 250px;
    width:auto;
    
}
button{
    margin-top: 30px;
    margin-left: 700px;
    box-shadow: 10px 10px 10px ;
    padding:5px 10px;
    background-color: red;
    color:white;
}
input{
    
    margin: 10px;
    box-shadow: 10px 10px 10px red;
    
}
.a{
   margin-left: 660px;
}
.b{
    display: inline;
    color:green;
    box-shadow: 10px 10px 10px ;
    margin-left:640px;
}